*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color: #302e29;
    --main-color: #ff9100;
    --second-color: #858585;
    --bg-color: #fffbf6;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 15%;
    transition: all .38s ease;
}
header.sticky{

    padding: 10px 5%;
    background: var(--bg-color);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 10px;
    margin: 2px 25px;
    transition: all .38s ease;
}

.navbar a:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.h-icons{
    display: flex;
    align-items: center;
    padding: 10px 22px;
    background: var(--main-color);
    border-radius: 5rem;
}
.h-icons i{
    font-size: 22px;
    color: var(--bg-color);
    margin-left: 8px;
    margin-right: 15px;
}
#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 90px 10% 80px;
}
.home{
    height: 88vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.home-img img{
    width: 100%;
    height: auto;
}

.home-text h1{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.home-text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--second-color);
    line-height: 32px;
    margin-bottom: 2.3rem;
}
.btn{
    display: inline-block;
    padding: 14px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5rem;
    transition: all .38s ease;
}

.btn:hover{
    transform: rotate(10deg) scale(1.2);
}
.main-text{
    text-align: center;
}
.main-text h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.main-text p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    line-height: 32px;
}
.container-box{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.c-mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    border-radius: 10px;
    height: 90px;
    background: var(--bg-color);
    box-shadow: 0px 4px 10px;
    transition: all .38s ease;
    padding: 5px 10px;
}
.container-text p{
    font-size: 1rem;
    font-weight: 500;
}
.c-mainbox:hover{
    transform: translateX(10px);
    cursor: pointer;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    justify-content: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/restaurant\ bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about-img img{
    height: auto;
    width: 100%;
}
.about-text h2{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.3;
}
.about-text p{
    font-size: 1rem;
    color: rgb(187, 186, 186);
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 2.3rem;
}
.menu-content{
    display: grid;
    justify-content: center;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
    cursor: pointer;
}
.menu-content img{
    width: 100%;
    border-radius: 50%;
    /* height: auto; */
}
.row{
    transition: all .38s ease;
}
.menu-text{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 15px 0;
}
.menu-left h4{
    font-size: 23px;
}
.menu-right h5{
    color: var(--main-color);
    font-size: 23px;
}
.row p{
    color: var(--second-color);
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 15px;
}
.star{
    color: var(--main-color);
    font-size: 17px;
    margin-right: 4px;
}
.row:hover{
    transform: translateY(20px);
}
.contact{
    background: rgba(81, 81, 248, 0.2);
    padding: 50px 10% 40px;
}
.main-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */
    gap: 2rem;
}
.contact-content h4{
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
.contact-content li{
    margin-bottom: 16px;
}
.contact-content li a{
    display: inline-block;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .38s ease;
}
.contact-content li a:hover{
    transform: translateX(10px);
    color: var(--main-color);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 10px;
}

.copyright{
    background: var(--main-color);
}

.copyright p{
    text-align: center;
    padding: 25px;
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 1px;
}

.scroll-top{
    position: fixed;
    bottom: 2.2rem;
    right: 2.2rem;
}

.scroll-top i{
    padding: 8px;
    font-size: 3rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 5rem;
}

@media (max-width: 992px) {
    header{
        justify-content: space-between;
        padding: 23px 7%;
    }
    section{
        padding: 90px 7% 80px;
    }
}


@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    header{
        padding: 23px 5%;
    }
    .logo{
        font-size: 20px;
        font-weight: 700;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 180px 40px;
        transition: all .38s ease;
    }
    .navbar li{
        display: block;
        margin: 1.3rem 0;
        padding: 2px 5px;
    }
    .navbar.open{
        right: 0; 
    }
    section{
        padding: 50px 5%;
    }
    .home{
        margin-top: 4rem;
        height: 70vh;
        gap: 1rem;
    }
    .home-text h1{
        font-size: rem;
        line-height: 1;
        margin-bottom: 1rem;
    }
    .home-text p{
        font-size: 1rem;
        line-height: 24px;
        margin-bottom: 1.5rem;
    }
    .container-box{
        margin-top: 1rem;
        justify-content: center;
    }
}
@media (max-width: 576px) {
    header{
        padding: 12px 2%;
    }
    .logo{
        font-size: 20px;
        font-weight: 700;
    }
    .navbar a{
        font-size: .8rem;
        padding: 2px 5px;
        margin: 2px 8px;
    }
    .h-icons {
        padding: 5px 10px;
    }
    .h-icons i {
        font-size: 20px;
    }
    #menu-icon{
        font-size: 30px;
    }
    section{
        padding: 20px 2%;
    }
    .home{
        grid-template-columns: 1fr;
        margin-top: 4rem;
        height: 114vh;
        gap: 0rem;
    }
    .home-img{
        text-align: center;
    }
    .home-img img{
        max-width: 500px;
        width:100%;
    }
    .home-text h1{
        font-size: 2rem;
        width: 70%;
    }
    .home-text p{
        font-size: 1rem;
    }
    .about{
        grid-template-columns: 1fr;
        gap: 0rem;
    }
    .about-img{
        text-align: center;
    }
    .about-img img{
        max-width: 300px;
        width: 100%;
    }
    .about-text{
        width: 100%;
    }
}